<div class='top_nav'>
    <a href="./GenerateAuthCode.php"><strong>인증번호 발급</strong></a>&nbsp;|&nbsp;
    <a href="./SuggestionList.php"><strong>건의사항 관리</strong></a>&nbsp;|&nbsp;
    <a href="./ManagerManage.php"><strong>관리자 권한 관리</strong></a>&nbsp;|&nbsp;
    <a href="./SendMail.php"><strong>메일 보내기</strong></a>&nbsp;
    <div class='right'>
        <a href="./EditProfile.php"><strong>내 정보</strong></a>&nbsp;|&nbsp;
        <a href="./functions/logout.php"><strong>로그아웃</strong></a>
    </div>
</div>