.suggestion{
    word-break:break-all;
}

.suggestion .sug_description{
    padding-top:30px;
    padding-bottom:50px;
    padding-left:15px;
    border-top:1px solid gray;
}

#back{
    float:right;
}

.write_comment{
    width:100%;
    margin-left:auto;
    margin-right:auto;
}

.write_comment textarea{
    width:100%;
    min-height:150px;
    resize:none;
}

.write_comment input{
    width:100%;
}

.comments .comment{
    padding-left:15px;
    padding-bottom:40px;
    border-bottom:1px solid gray;
}

.comments .comment a{
    color:red;
    text-decoration:none;
}

.comments .comment a:hover{
    color:orange;
    text-decoration:underline;
}

.comments .comment span{
    float:right;
}