.description .rdoBtn{
    padding-top:10px;
}

.description table{
    width:80%;
    margin-left:auto;
    margin-right:auto;  
}

.description table{
    text-align:center;
    padding-top:30px
}

.description table thead th{
    border-bottom:1px solid gray;
}

.description table thead .index{
    min-width:75px;
}

.description table thead .preview{
    min-width:300px;
}

.description table thead .datetime{
    min-width:100px;
}

.description table tbody .preview{
    text-align:left;
}