html{
    width:100%;
    height:100%;
    font-family:"Malgun Gothic";
}

.login_form{
    width:160px;
    position:absolute;
    top:0; left:0; bottom:0; right:0;
    height:10%;
    margin:10% auto;
}

.login_form input{
    width:160px;
}

.btn{
    width:160px;
}