.description table{
    width:80%;
    margin-left:auto;
    margin-right:auto;  
}

.description table{
    text-align:center;
    padding-top:30px
}

.description table thead th{
    border-bottom:1px solid black;
}

.description table thead .nickname{
    min-width:300px;
}

.description table thead .del{
    min-width:100px;
}

.description table thead .datetime{
    min-width:100px;
}

.description table tbody td{
    border-bottom:1px solid gray;
}